<ion-view view-title="Poll">
	<ion-content>
		<div class="card">
			<div class="item item-text-wrap"> 
				<h2>{{poll.title}}</h2>
			</div>
		</div>

		<div class="card">		
			<ion-list can-swipe="false">
				<ion-item click-for-options ng-repeat="item in items">
					<div>{{item.name}}</div>
					<div style="height: 1em">
						<span style="display: block; margin-top: 0.4em;margin-right: 5px; height: 10px; width:{{item.voteCount / votes * 100}}%; background-color: {{item.color}}; float: left"></span>
						<span class="small" style="float: left">({{item.voteCount}})</span>
						<i class="radio-icon ion-checkmark float-right" ng-if="item.ivotedforthis"></i>
					</div>
					<ion-option-button class="button-balanced" ng-click="vote({{item.id}})" ng-if="!voted">
						Stem
					</ion-option-button>
				</ion-item>
			</ion-list>

		</div>

		<ion-list>
			<ion-item class="item item-divider item-text-wrap">Archief</ion-item>
			<ion-item ng-repeat="poll in polls" ui-sref="app.poll-archive({id: poll.id})">
				{{poll.title}}
			</ion-item>
		</ion-list>

		<ion-infinite-scroll
			ng-if="!last"
			on-infinite="loadMore()"
			distance="1%">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>