<ion-view view-title="Poll" hide-back-button="true">   

	<ion-content>
		<div class="card">
			<div class="item item-text-wrap"> 
				<h2>{{poll.title}}</h2>
			</div>
		</div>

		<div class="card">		
			<ion-list can-swipe="false">
				<ion-item click-for-options ng-repeat="item in options">
					<div>{{item.name}}</div>
					<div style="height: 1em">
						<span style="display: block; margin-top: 0.4em;margin-right: 5px; height: 10px; width:{{item.results.length / votes * 100}}%; background-color: {{item.color}}; float: left"></span>
						<span class="small" style="float: left">({{item.results.length}})</span>
					</div>
					<ion-option-button class="button-balanced" ng-click="vote({{item.id}})">
						Stem
					</ion-option-button>
				</ion-item>
			</ion-list>

		</div>
	</ion-content>
</ion-view>