<ion-pane>
  <ion-content scroll="false">
		<div class="custom-login">
			<!-- background elements -->
			<div class="background-login"></div>
			<div class="eclipse-fadeout"></div>
		  	<div class="padding">
				<div class="logo logo-40vh logo-login"></div>
				<form ng-submit="login()"> 
					<div class="item item-input">
						<input type="text" name="username" placeholder="Gebruikersnaam" ng-model="credentials.username"/>
					</div>
					<div class="item item-input">
						<input type="password" placeholder="Wachtwoord" ng-model="credentials.password">
					</div>

					<button class="button button-full button-positive" ng-click="">
						Inloggen
					</button>

				</form>
			</div>
		</div>
  </ion-content>
</ion-pane>