<ion-pane>
  <ion-content scroll="false">
		<div class="custom-login">
			<!-- background elements -->
			<div class="background-login"></div>
			<div class="eclipse-fadeout"></div>
			<div class="padding">
				<!-- <div class="logo logo-login logo-animating-topturn" logo-directive="" h="40" ng-if="animating"></div>
				<div class="logo logo-login" logo-directive="" h="40" ng-if="!animating"></div> -->
				<logo h="40" class="logo-login"></logo>
				<form ng-submit="login()" offset-directive="" h="5"> 
					<div class="item item-input">
						<input type="text" name="username" placeholder="Gebruikersnaam" ng-model="credentials.username"/>
					</div>
					<div class="item item-input">
						<input type="password" placeholder="Wachtwoord" ng-model="credentials.password">
					</div>

					<button class="button button-full button-positive" ng-click="">
						Inloggen
					</button>

				</form>
				<button class="button button-full button-positive" ng-click="animate()">Animate</button>
			</div>
		</div>
  </ion-content>
</ion-pane>