<ion-view view-title="Agenda" >   
	<ion-content>
		<ion-refresher 
		    pulling-text="Wil je terug in de tijd?"
		    on-refresh="loadOlder()">
		</ion-refresher>
		<ion-list>
			<ion-item 
				ng-repeat="item in items"
				ng-class="{'item-divider': item.divider}" >

				<span ng-if="item.divider">
					{{item.label}}
				</span>
				<span ng-if="!item.divider" ui-sref="app.agenda-detail({id: item.id})">
					<div class="item-note">{{item.dayName}}</div>
					<h2>{{item.shortdescription}}</h2>
				</span>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll
			ng-if="!lowerLast"
			icon="ion-loading-c"
			distance="1%"
			on-infinite="loadNewer()">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>