<section ng-repeat="group in groups">
  <md-subheader class="md-primary">
    {{group.date}}
  </md-subheader>
  <md-item ng-repeat="agenda in group.agendas" ng-click="action(agenda)">
    <md-item-content>
      <div class="md-tile-left" layout layout-align="center center">
        <!-- <ng-md-icon /> -->
        <ng-md-icon icon="event" style="fill: red" ></ng-md-icon>
 <!--        <img ng-src="{{item.face}}" class="face" alt="{{item.who}}"> -->

      </div>
      <div class="md-tile-content">
        <h3>{{agenda.shortdescription}}</h3>
        <p>
          <span ng-if="agenda.who!=undefined">Wie: {{agenda.who}}.</span>
          <span ng-if="agenda.what!=undefined">Wat: {{agenda.what}}.</span>
          <span ng-if="agenda.where!=undefined">Waar: {{agenda.where}}.</span>
        </p>
        <!-- <p ng-if="agenda.categories.length >0">
          <span ng-repeat="category in agenda.categories"> {{category.menutitle}}</span>
        </p> -->
        
      </div>
    </md-item-content>
  </md-item>
</md-list>
</section>

