<ion-view view-title="Roephoek">   
	<ion-content>
		 <ion-refresher
		    pulling-text="Ja! Nog een beetje en ik ververs!"
		    on-refresh="doRefresh()">
		  </ion-refresher>
		<ion-list>
			<ion-item ng-repeat="item in items">
				<p>{{item.nickname}} ({{item.when}})</p>
				<p>{{item.message}}</p>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll
			ng-if="!last"
			icon="ion-loading-c"
			distance="1%"
			on-infinite="loadMoreData()">
		</ion-infinite-scroll>
	</ion-content>
	<div class="message-box-bottom padding">
		<a class="button button-icon icon ion-android-hangout padding" ng-click="openShout()"></a>
	</div>
	
</ion-view>
