<ion-view view-title="Vergaderplanner">   
	<ion-content>
		<ion-list ng-if="items.length">
			<ion-item class="article no-border" ng-repeat="item in items">
				<span ui-sref="app.planner-detail({id: item.id})">
					<h2>{{item.title}}</h2>
					<p>{{item.actual_time}} </p>
					<p>{{item.location}}</p>
					<p>{{item.responded}} van {{item.invited}} hebben gereageerd</p>
					<p ng-if="!item.actual_time">{{item.userstatus}}</p> 
				</span>
			</ion-item>
		</ion-list>
		<div class="card" ng-if="!items.length">
			<div class="item item-text-wrap">Er zijn momenteel geen vergaderplanners waar jij aan deel neemt.</div>
		</div>
	</ion-content>
</ion-view>