<ion-view view-title="Beschikbaarheid">
  <ion-content>

    <!-- meta information about meeting -->
    <div class="card">
      <div class="item item-text-wrap item-divider">
        <h2>{{meeting.title}}</h2>
      </div>
      <div class="item item-text-wrap">
        <p ng-if="meeting.location"><i class="icon ion-ios-location"></i>&nbsp;&nbsp;&nbsp;{{meeting.location}}</p>
        <p ng-if="meeting.actual_time"><i class="icon ion-calendar"></i>&nbsp;&nbsp;{{meeting.actual_time_date}}</p>
        <p ng-if="meeting.actual_time"><i class="icon ion-clock"></i>&nbsp;&nbsp;{{meeting.actual_time | date: 'HH:mm uur'}}</p>
        <p><i class="icon ion-ios-people"></i>&nbsp;&nbsp;{{responded}} van {{invited}} hebben gereageerd</p>
        <p>{{hasSubscribedMessage}}</p>
      </div>
    </div>

    <!-- notes (hidden if empty) -->
    <div class="card" ng-if="meeting.notes || meeting.plannotes">
      <div class="item item-text-wrap item-divider">
        <h2>Opmerking bij deze vergadering</h2>
      </div>
      <div class="item item-text-wrap" ng-if="meeting.notes">{{meeting.notes}}</div>
      <div class="item item-text-wrap" ng-if="meeting.plannotes">{{meeting.plannotes}}</div>
    </div>

    <!-- Agenda (hidden if empty) -->
    <div class="card" ng-if="meeting.agenda">
      <div class="item item-text-wrap item-divider">
        <h2>Agenda:</h2>
      </div>
      <div class="item item-text-wrap">
        <pre>{{meeting.agenda}}</pre>
      </div>
    </div>

    <!-- time slots voor deze afspraak -->
    <div class="card">
      <div class="item" ng-if="meeting.actual_time">
        De vergadering is al gepland!
      </div>

      <div ng-repeat="slot in slots"  ng-if="!meeting.actual_time" class="item" on-hold="openModal({{slot.index}})" ng-class="{'item-divider': item.divider}">
        <span ng-if="slot.divider">
          {{slot.label}}
        </span>
        
        <span ng-if="!slot.divider" class="item-toggle">
            <span class="current-response-box" style="background-color: {{slot.pctcolor}}"></span>
            {{slot.starttime | date: 'HH:mm'}}
            <label class="toggle">
              <input type="checkbox" ng-click="setPreference({{slot.id}})" ng-model="userpreference[slot.id]">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
        </span>
      </div>
    </div>

  </ion-content>
</ion-view>