<ion-modal-view view-title="Settings" on-swipe-left="modal.hide()">   
	<ion-header-bar class="bar-assertive">
		<h1 class="title">Instellingen</h1>
		<div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
	</ion-header-bar>
	
	<ion-content>
		<div class="card">
			<div class="item item-text-wrap">
				<h2>Account</h2>
				<p>Je bent ingelogd als {{user.firstname}} {{user.middlename}} {{user.lastname}}</p>
				<button class="button button-full button-positive" ng-click="logout()">Log mij uit</button>
			</div>
		</div>
	</ion-content>
</ion-modal-view>