	<ion-header-bar class="bar-assertive">
		<h1 class="title">Instellingen</h1>
	</ion-header-bar>
	
	<ion-content>
		<div class="card">
			<div class="item item-text-wrap">
				<h2>Account</h2>
				<p>Je bent ingelogd als {{username}}</p>
				<button class="button button-full button-positive" ng-click="logout()">Log mij uit</button>
			</div>
		</div>

		<div class="card">
			<ion-list show-reorder="showReorder">
				<ion-item>
					<h2 class="float-left">Navigatie</h2>
					<span class="float-right icon ion-arrow-left-c" size="8" ng-if="!showReorder"></span>
					<span class="float-right icon ion-navicon" ng-if="showReorder" ng-click="toggleReorder()"></span>
					<ion-option-button
						class="button icon ion-navicon"
						ng-click="toggleReorder()">
					</ion-option-button>
				</ion-item>
				<ion-item ng-repeat="item in homeviews" ui-sref="{{item.state}}">
					<ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
					{{item.name}}
					<ion-option-button 
						class="button button-positive icon ion-plus-circled"
						ng-if="!item.home"
						ng-click="addToHome(item.id)"></ion-option-button>
					<ion-option-button 
						class="button button-assertive icon ion-minus-circled"
						ng-if="item.home"
						ng-click="removeFromHome(item.id)"></ion-option-button>
				</ion-item>
			</ion-list>
		</div>
	</ion-content>
