
<!--  Old form: 
<form>
	<label>
		Gebruikernaam: 
		<input type="text" ng-model="username"/>
	</label>

	<label>
		Wachtwoord: 
		<input type="password" ng-model="password"/>
	</label>

	<button ng-click="login()" > Inloggen </button>
</form>
-->
	
<div layout="row" layout-align="center center" layout-fill style='width:100%; height:100%; position:absolute;'>

 <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center">
			
	<form class="appcki-form">
		<div>
			<input type="text" ng-model="username" placeholder="Gebruikersnaam" />
		</div>
		<div>
			<input type="password" ng-model="password" placeholder="Wachtwoord"/>
		</div>
		<div>
			<input type="button" value="Inloggen" ng-click="login()" />
		</div>
	</form>
</md-whiteframe>
</div><!-- 
<div id="footer">
			USCKI Incognito<br/>
			<a href="#">Disclaimer & User Policy</a>
</div>
<div id="wrapper"></div>
 -->
