<ion-view view-title="Game of Life">   
	<ion-content>
		<div appcki-game-of-life="" class="conway-canvas padding">
		</div>
		<div class="button-bar">
			<button class="button button-positive" ng-click="playPause()">{{toggleText}}</button>
			<button class="button button-positive" ng-click="reset()">Reset</button>
			<button class="button button-positive" ng-click="new()">Nieuw</button>
		</div>
		<div class="item">
			<p>Snelheid</p>
			<div class="range range-positive">
				<i class="icon ion-ios-baseball"></i>
				<input type="range" min="50" max="2000" ng-model="speed" ng-change="speedChanged({{speed}})" />
				<i class="icon ion-ios-printer"></i>
			</div>
		</div>
	</ion-content>
</ion-view>