

/*@media screen and (max-width:700px) {
	.masterDetail{
		display: flex;
		flex-flow: row wrap;
	}
	.masterDetail .master,
	.masterDetail .detail{
		 flex: 1 auto; 
		width: 50%;
	}
	.masterDetail .master{}
	.masterDetail .detail{}
}
*/

/*
html, body{
	background: #eee;
}*/
/*
@media screen and (min-width: 600px) {
	.agendaOverview{
		position:relative; 
		width:400px;
	}
	.agendaFab{
		position:absolute; 
		right:24px; 
		top:96px;
		z-index:5
	}
	.agendaDetails{
		height:100%; 
		min-width:400px;
	}
}

@media screen and (max-width: 600px) {
    [css rules for actual elements if conditon above applies]
}
#logo{
	width:75px;
}
.avatar-frame{
	
	width: 50px;
	height: 50px;
	border-radius: 30px; 
	overflow:hidden;
	display: block;
}
.avatar-frame img{
	min-width: 50px;
	min-height: 50px;
	width: 100%;
}
*/

/*@CHARSET "UTF-8";

body{
	background-color: #990000;
	
}

div#wrapper{
	top: 0px;
	height: 100vh;
	width: 100%;
	position: absolute;
	background: -webkit-radial-gradient(center, ellipse,  
		#fff 15%, #990000 75%); 
	opacity: 0.1;
	z-index: -1;
}
div#logo{
	display: block;
	width: 90%;
	height: 40vh;
	margin-left: 5%;
	background-image: URL("../img/logo.svg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

div#login{
	margin-top: 10vh;
	font-size: 12pt;
	//padding-top: 20vh;
	text-align: center;
	width: 100%;
}

div#footer{
	position: absolute;
	display: block;
	width: 100%;
	text-align: center;
	bottom: 10px;

}

form.appcki-form input{
	font-size: 14pt;
	background-color: #660000;
	border: 0px;
	padding: 5px;
	color: #ffffff;
	outline: 0;
	margin-top: 5px;
	border-radius: 15px;
	padding-left: 15px;
	padding-right: 15px;
	box-shadow: 2px 2px 5px #362B2B;
	box-shadow: inset 2px 2px 5px #362B2B;
}

form.appcki-form input[type=text], form.appcki-form input[type=password] {
	width: 80%;
}

form.appcki-form input[type=text]:focus, form.appcki-form input[type=password]:focus {
	
	box-shadow: 0px 0px 15px red;
	
}

form.appcki-form input[type=button]{
	box-shadow: 2px 2px 5px #362B2B;
}

form.appcki-form input[type=button]:active {
	box-shadow: inset 2px 2px 5px #362B2B;
}*/