/* Empty. Add your own CSS if you like */

/**
 * Non working tags:
 * Float: left/right
 * svg werkt niet waar png wel werkt. Waarom?
 /*

/* Articles */
.article:nth-child(even) {
	background-color: rgb(243,243,243);
}

.no-border {
	border: none;
}

/**
 * logo class
 */
/*.logo{
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
  	display: block;
}

.logo-login{
	margin-top: 5%;
}

.logo::before, .logo::after{
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	position: absolute;
	top:0;
	left: 0;
	transition: 0.2s;
	-webkit-transition: 0.2s;
}

.logo::before{
	background: url('../img/top-01-02.png') no-repeat;
	background-size: 100%;
}

.logo::after{
	background: url('../img/bottom-01-transparant-02.png') no-repeat;
	background-size: 100%;
}



@-webkit-keyframes logo-y { 
	from { 
		-webkit-transform: rotate3d(0,1,0,0deg); 
		-webkit-transform: rotate3d(0,1,0,0deg); 
	} to { 
		-webkit-transform: rotate3d(0,1,0,180deg); 
		-webkit-transform: rotate3d(0,1,0,-360deg); 
	} 
}

@keyframes logo-y{
	from {
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
		-moz-transform: rotate3d(0,1,0,0deg);
		-ms-transform: rotate3d(0,1,0,0deg);
		transform: rotate3d(0,1,0,0deg);
		left: 0px;
		background-color: transparent;
	} 
	to {
		-moz-transform: rotateY(-360deg);
		-ms-transform: rotateY(-360deg);
		transform: rotateY(-360deg); 
		-moz-transform: rotate3d(0,1,0,-360deg);
		-ms-transform: rotateY(0,1,0,-360deg);
		transform: rotateY(0,1,0,-360deg); 
		left: 100px;
		background-color: green;
	}
}*/

/*.logo-animating-topturn::before
{
	-webkit-animation-name: logo-y; 
	-webkit-animation-timing-function: linear; 
	-webkit-animation-iteration-count: infinite; 
	-webkit-animation-duration: 1s; 
	animation-name: logo-y; 
	animation-timing-function: linear; 
	animation-iteration-count: infinite; 
	animation-duration: 1s; 
	-webkit-transform-style: preserve-3d; 
	-moz-transform-style: preserve-3d; 
	-ms-transform-style: preserve-3d; 
	transform-style: preserve-3d;
	background-color: green;
}*/


/*****************************************************
******************************************************
*************** LOGIN PAGE ***************************
******************************************************
*****************************************************/
div.custom-login div.background-login, div.custom-login div.eclipse-fadeout {
	top: 0px;
	height: 100%;
	width: 100%;
	position: absolute;
}

div.custom-login div.background-login {
	background-color: #990000 !important;
	opacity: 1;
	z-index: -1;
}

div.custom-login div.eclipse-fadeout{
	background: -webkit-radial-gradient(center, ellipse,  
		#fff 25%, #990000 75%); /* Chrome10+,Safari5.1+ */
	opacity: 0.1;
	z-index: 0;
}


/* planner box that indicates availability by color */
.current-response-box{
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 20px;
	border-width: 1px;
	border-style: solid;
	border-radius: 6px;
}

/* Quote */
.float-left{
	float: left;
}

.float-right{
	float: right;
}

.quote-bar{
	display: block;
	width: 100%;
	margin-top: 30px;
	text-align: center;
}

.quote-bar .quote-bar-inner{
	display: block;
	font-size: .8em;
	color: white; 
	display: block; 
	padding: 2px 10px 2px 10px;
	box-shadow: 1px 3px 15px #888888;
}

.quote-bar .quote-bar-left{
	float: left;
	background-color: #008800;
	text-align: right;
	border-radius: 10px 0px 0px 10px;
	border-right: 1px solid white;
}

.quote-bar .quote-bar-right{
	float: left;
	background-color: #DB1818;
	border-radius: 10px 10px 10px 10px;
}

/** Header **/
ion-nav-bar #header-title-bar.resetting{
	transition: transform .2s ease-in-out;
}

ion-nav-bar .title-light{
	color: #BAADAD;
	margin-left: 10%;
}

ion-nav-bar .title-current{
	margin: auto;
}

ion-nav-bar .title-small{
	color: #BAADAD;
}

ion-nav-bar .title-small.title-prev{
	float: left;
}

ion-nav-bar .title-small.title-next{
	float: right;
	margin-right: 20px;
}

ion-nav-bar .title-small.title-next2next{
	position: absolute;
}

/** SHOUTBOX!!!!!!!*/
.message-box-bottom {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: transparent;
	text-align: right;
}

/** GAME OF LIFE **/

.conway-canvas .conway-row .conway-cell
{
	display: block;
	width: 30px;
	height: 30px;
	margin: 1px;
	border: 1px solid #e1e1e1;
}

.conway-canvas .conway-row .conway-cell-true{
	background-color: red;
}
