<ion-view view-title="Quotes-list">
	<ion-content>
		<div class="card" ng-repeat="item in items" style="width:150%; left:-25%;">
		Dit is een kaart
		</div>
		<div class="bar bar-positive">SEPARATOR</div>
		<ion-list can-swipe="true">
			<ion-item class="item item-complex item-right-editable item-left-editable" ng-repeat="item in items">
				
					
				<div class="item-content ng-binding">
				Item!
				</div>
				
				<div class="item-options invisible">
				Aha
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>